#HeaderDiv.HeaderOpen {
	overflow:auto;
}
#HeaderDiv.HeaderClosed {
	overflow:hidden;
	height:30px;
}
#HeaderDiv.HeaderClosed > div {
	visibility:hidden;
}

#HeaderDiv > #RollupPanelDiv {
	position:absolute;
	background-color: #EEE;
	top:0px;
	right:0px;
	border-radius: 5px;
	cursor:pointer;
	width:15px;
	padding:3px;
	font-size:15px;
	visibility:visible;
	margin-right:4px;
	margin-top:4px;
}
#HeaderDiv.HeaderOpen #RollupPanelDiv::before {
	content: "\25b2";
}
#HeaderDiv.HeaderClosed #RollupPanelDiv::before {
	content: "\25bc";
}
